@import "../../globals.scss";

.container {
	min-height: 100svh;
	position: relative;
	z-index: 10;

	display: flex;
	flex-direction: column;

	.containerLg {
		flex-grow: 1;

		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
	}
}

.triangle {
	position: absolute;
	top: 0;
	border-top: 300px solid #c7e5fc;
	border-right: 100dvw solid transparent;
}

.title h1 {
	color: #050324;
	font-weight: normal;
	margin: 0;
	font-size: 4em;

	padding-left: 0.5em;
}

.topContainer {
	display: flex;
	justify-content: space-between;
	svg {
		color: #050324;

		height: 3.5em;
		width: 3.5em;
		padding: 0.5em;
	}
	.logoContainer {
		position: absolute;
		top: 0;
		right: 0;
		display: flex;
		align-items: center;
		padding: 0.5em;

		.logoText {
			font-size: 1.7em;
			margin: 0;
		}

		.logoImg {
		}
	}
}

.header {
	position: relative;

	.headerPhoto {
		max-height: 60dvh;
		width: 100dvw;

		object-fit: contain;
		object-position: center;
	}
}

.form {
	display: flex;
	justify-content: center;
	flex-direction: column;

	width: 100%;
	padding: 0 10%;

	/* 	div {
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		width: 100%;
		padding-bottom: 0.5em;
	} */

	/* 	label {
		color: #050324;
		font-weight: normal;
		font-size: 1.3em;
	} */
	/* 	input {
		border-radius: 10px;
		border: none;
		background-color: #d9d9d9;
		height: 3em;
		width: 100%;
	} */

	button {
		margin-top: 1em;
		padding: 10px 10px;
		border-radius: 10px;

		color: white;
		background-color: #050324;
		border: none;

		font-size: 1.3em;
		font-weight: normal;
		text-align: center;

		cursor: pointer;

		// box-shadow: 0 0 0.5rem #05032400;
		// transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
		// &:hover {
		// 	transform: scale(1.02);
		// 	box-shadow: 0 0 0.75rem #05032454;
		// }
	}
}

@media (min-width: $breakpoint) {
	.title {
		padding: 1em;
	}

	.container .containerLg {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;

		position: relative;
		top: -10vh;

		.header {
			.headerPhoto {
				width: auto;
				max-width: 50vw;
				height: 60dvh;
				padding: 0;
			}
		}

		.form {
			width: 30vw;
			padding: 0;

			.loginTitle {
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;

				text-align: center;

				margin-bottom: 1em;

				h2 {
					margin-top: 1em;
					font-size: 1.2em;
					font-weight: 600;
					color: #3c4257;
				}
				img {
					height: 4em;
					width: 4em;
					filter: drop-shadow(0 0 0.5rem #05032454);
				}
			}
		}
	}
}
